.Content-Style {
  width: 400px;
  height: 1000px;
  background: repeating-conic-gradient(#fff, #fff 6deg, #f9d6ce 6deg 12deg);
}

.Top-Header {
  display: flex;
  width: 400px;
  height: 60px;
  justify-content: center;
  align-items: center;

}

#kokeshiContainer {
  font-family: Arial, Helvetica, sans-serif;
  color: #006f86;
}

.Main {
  display: flex;
  width: 395px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.Main-Title {
  color: #fd2736;
  font-size: 56px;
  font-family: 'Hiragino Kaku Gothic';
  font-weight: bold;
  -webkit-text-stroke: 2px #fff;
  background-color: #f6c3b9;
  border-radius: 8px;
}

.Login-Form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin-top: 50px;
}

.Form-Style {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
  opacity: 0.8;
}

.Input-UserName {
  display: flex;
  justify-content: center;
  width: 320px;
  padding: 3px;
  margin: 5px 0;
  border-bottom: 1px solid;
}

.Input-Pass {
  display: flex;
  justify-content: center;
  width: 320px;
  padding: 3px;
  margin: 5px 0;
  border-bottom: 1px solid;
}

.Submit {
  display: flex;
  justify-content: center;
  width: 100px;
  margin: 16px 0;
  padding: 4px;
  border-radius: 8px;
  background-color: aqua;
}

#Use-Button {
  text-align: center;
  background-color: #FFD700;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 24px;
  border: none;
  padding: 20px 80px;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  /* 影の設定 */
}

#Use-Button :hover {
  background-color: #F0E68C;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  /* タッチ時の影 */
}

#Use-Button :active {
  background-color: #CD5C5C;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  /* タッチ時の影 */
}

.Kokesi-Pic {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 80px;
}

.Kokesi-Image {
  position: relative;
  width: 150px;
  border-radius: 50%;
  transition: transform 0.1s ease-in-out;
  /* アニメーション設定 */
}

.Omikuji-Image {
  position: absolute;
  top: 36px;
  left: 2px;
  width: 100%;
  height: auto;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.Action-Button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.Action-Button-Draw {
  display: flex;
  justify-content: space-around;
}

.Buttons {
  width: 110px;
  height: 110px;
  margin-top: 30px;
  margin-left: 30px;
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 215, 0, 0.6);
  border: 3.5px solid #006f86;
  border-radius: 50%;
  color: #006f86;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.Buttons-text {
  font-size: 18px;
}

.Shake-Button {
  width: 110px;
  height: 110px;
  margin-top: 30px;
  margin-right: 30px;
  padding-top: 33px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 215, 0, 0.6);
  border: 3.5px solid #006f86;
  border-radius: 50%;
  color: #006f86;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 45px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.Kokesi-Image.shake {
  /* 揺らす時のスタイル */
  transform: translate(-10px, 20px);
  /* 少し右上にオフセット */
}

.Action-Button-after {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Action-Button-after-Style {
  display: flex;
  justify-content: space-around;
}

#Re-Draw {
  display: inline-block;
  background-color: #FFD700;
  color: #006f86;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding: 20px 15px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  /* 影の設定 */
}

#tweetButton {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 20px;
  color: #FFD700;
  background-color: rgba(0, 111, 134, 0.6);
  text-decoration: none;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#saveButton {
  display: inline-block;
  padding: 8px 15px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  color: #FFD700;
  background-color: rgba(0, 111, 134, 0.6);
  text-decoration: none;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#Hint-Font-Style {
  margin-top: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #006f86;

}